@import '../../index.scss';

// .select-box-area {
//   padding: 50px 0;
//   background-color: $star-wars-black;
//   display: flex;
//   justify-content: center;
// }

.table-area {
  padding: 20px 40px;
}

.logo-area {
  background-color: $star-wars-black;
  display: flex;
  justify-content: center;
}
